/* Agregando fuentes externas para tener coherencia entre la fuente del titulo
   y las demás cosas.
*/
@font-face {
    font-family: 'diner-obeseregular';
    src: url('Diner-Obese-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: 'oswald-extralight';
    src: url('oswald-extralight-webfont.woff2') format('woff2'),
         url('oswald-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswald-light';
    src: url('oswald-light-webfont.woff2') format('woff2'),
         url('oswald-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*/
@font-face {
    font-family: 'oswald-regular';
    src: url('oswald-regular-webfont.woff2') format('woff2'),
         url('oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: 'oswald-medium';
    src: url('oswald-medium-webfont.woff2') format('woff2'),
         url('oswald-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswald-demibold';
    src: url('oswald-demibold-webfont.woff2') format('woff2'),
         url('oswald-demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswald-bold';
    src: url('oswald-bold-webfont.woff2') format('woff2'),
         url('oswald-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswald-heavy';
    src: url('oswald-heavy-webfont.woff2') format('woff2'),
         url('oswald-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*/

/*
Evita que existan scrollbars en los resultados de la busqueda
https://github.com/jgthms/bulma/issues/2578
*/
.media-content{
  overflow-x: visible;
}

.is-borderless { border: 0 !important}

.is-family-dinner-obeseregular {
  font-family: diner-obeseregular !important;
  //font-size: 1.5em;
  letter-spacing: 0.1em;
}
/*
.is-family-oswald-extralight {
  font-family: oswald-extralight !important;
  //font-size: 2em;
  letter-spacing: 0.1em;
}

.is-family-oswald-light {
  font-family: oswald-light !important;
  //font-size: 2em;
  letter-spacing: 0.1em;
}
*/
.is-family-oswald-regular {
  font-family: oswald-regular !important;
  //font-size: 2em;
  letter-spacing: 0.1em;
}
/*
.is-family-oswald-medium {
  font-family: oswald-medium !important;
  //font-size: 2em;
  letter-spacing: 0.1em;
}

.is-family-oswald-demibold {
  font-family: oswald-demibold !important;
  //font-size: 2em;
  letter-spacing: 0.1em;
}

.is-family-oswald-bold {
  font-family: oswald-bold !important;
  //font-size: 2em;
  letter-spacing: 0.1em;
}

.is-family-oswald-heavy {
  font-family: oswald-heavy !important;
  //font-size: 2em;
  letter-spacing: 0.1em;
}
*/

figure.highlight {
  margin: 0em 0em 1em 0em !important;
  text-align: left;
}

pre.lineno{
  text-align: right;
  color: rgb(245,245,245);
  border-right: 0.1em solid rgb(245, 245, 245) ;
  padding: 0 0.5em 0 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

figure.highlight pre{
  padding: 1em 0.5em 1em 0.5em !important;
}

td.code pre{
  padding: 0 0 0 0.5em;
}

tr td.gutter.gl, td.code {
  padding: 0 !important;
}

td.rouge-code pre {
  padding: 0;
}

td.rouge-code{
  padding-left: 0 !important;
}

div.highlight pre.highlight{
  padding:0.5em 0 0.5em 0;
}

div.highlighter-rouge div.highlight{
  margin-bottom: 1em;
}

tr td.rouge-gutter, td.gutter.gl{
  width: 1%;
}


/*
Configuracion de estilos para los modales de permisos
*/
div.klaro.cm-as-context-notice{
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 50%;
}

figure.image.mb-0.is-16by9 div{
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.subir{
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 50;
  box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
}

/*
Hace que el índice se mantuviera stick pero genera muchos problemas
.indice{
  position: -webkit-sticky;
  position: sticky;
  top: 2vh;
  z-index: 20;
}*/

details summary {
  border-radius: 4px 4px 4px 4px !important;
}

details[open] summary {
  border-radius: 4px 4px 0px 0px !important;
}

/*
MArgen para las anchor cuando haces scroll
https://css-tricks.com/fixed-headers-on-page-links-and-overlapping-content-oh-my/
*/

html{
  scroll-padding-top: 4em;
}

.menu-list li.is-active a{
  background-color: #485fc7;
  color: #fff !important;
}

.menu-list li a:hover{
  background-color: #485fc7;
  color: #fff !important;
}

#toc_menu, #toc_menu > li > ul{
  list-style: none;
}

details.message a{
  text-decoration: none !important;
}

.sombra{
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.language-text{
  color: rgb(219, 219, 219);
}

pre > code {
  color: rgb(219, 219, 219);
}
